@media (max-width: 1200px) {

}

@media (max-width: 991px) {
  .promo {
    padding: 21px 25px 93px;
  }
  .advantages {
    padding: 70px 25px 67px;
  }
}



@media (max-width: 767px) {
  .promo {
    padding: 21px 15px 93px 15px;
  }
  .header {
    align-items: flex-start;
    &__logo {
      width: 180px;
    }
    &__phone {
      font-size: 16px;
    }
    &__official {
      span {
        font-size: 17px;
      }
    }
  }
  .button {
    width: 125px;
    margin-top: 5px;
    &_main {
      width: 303px;
      margin-top: 67px;
    }
    &_submit {
    width: 100%;
    }
  }
  .advantages {
    padding: 70px 15px 67px;
    &__item {
      width: 160px;
    }
    &__item-title {
      margin-top: 15px;
      font-weight: 700;
      font-size: 14px;
    }
    &__item-subtitle {
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      margin-top: 15px;
      
    }
  }
  .consultation {
    &__descr {
      text-align: center;
    }
  }
  .title {
    &_left {
      text-align: center;
  
    }
  }
  .feed-form {
    margin: 36px auto 0;
  }
}

@media (max-width: 575px) {
  .promo {
    min-height: 505px;
    padding: 21px 20px 66px;
    background: url(../img/bg/header-bg.jpg) center center/cover no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }
    &__header {
      font-size: 20px;
      display: block;
      text-align: center;
      margin-bottom: 0;
    }
    &__subheader {
      font-size: 13px;
    }
    &__icons {
      width: 295px;
      margin-top: 25px;

      
    }
    &__icon {
      font-size: 12px;
    }
    &__link {
      font-size: 16px;
      margin-top: 15px;
      margin-left: 28%;
    }
  }
  .header {

    &__official {
      display: none;
    }
    &__phone {
      font-size: 13px;
    }
    &__logo {
      width: 160px;
    }
  }
  .button {

    &_main {
      font-size: 16px;
      width: 70%;
      margin-top: 40px;
    }
  }
  .advantages {
    padding: 70px 10px 42px;

    &__title {
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: #0D0D0D;
    }

    &__items{
      margin-top: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:last-child {

        a {
          font-size: 12px;
        }
      }
    }
    &__item {
      margin-bottom: 25px;
    }
    &__item-title {
      margin-top: 15px;
      font-weight: 700;
      font-size: 14px;
    }
    &__item-subtitle {
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      margin-top: 15px;
      
    }
  }
  .consultation {
    .title {
      &_left {
        font-size: 20px;
      }
    }
    &__descr {
      font-size: 15px;
    }
    .feed-form {
      input {
        height: 35px;
      }
    }
    .button {
      &_submit {
        height: 45px;
        font-size: 14px;
      }
    }
  }
}


