.button {
  width: 150px;
  height: 30px;
  background-color: $main-color;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  &_main {
    width: 303px;
    height: 54px;
    margin-top: 67px;
    font-size: 16px;
  }
  &_submit {
    width: 100%;
    width: 303px;
    height: 58px;
    font-size: 16px;
  }
  &_mini {
    width: 135px;
    height: 44px;
    cursor: pointer;
    font-size: 14px;
  }
}